<header class="w-full bg-background border-b border-gray-200 flex items-center justify-between px-4 md:px-8 py-3">
    <div class="flex items-center">
      <a class="text-2xl font-bold font-gt-america text-primary tracking-wider" href="#">
        WOMEN <span class="font-miller">PARIS</span>
      </a>
    </div>
  

      <button
  class="text-primary "
  (click)="onToggleSidebar()"
  aria-label="Menu"
>
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filter-right" viewBox="0 0 16 16">
    <path d="M14 10.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 .5-.5m0-3a.5.5 0 0 0-.5-.5h-7a.5.5 0 0 0 0 1h7a.5.5 0 0 0 .5-.5m0-3a.5.5 0 0 0-.5-.5h-11a.5.5 0 0 0 0 1h11a.5.5 0 0 0 .5-.5"/>
  </svg></button>

  </header>
  